---
import '../styles/globals.css'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Mi Blog</title>
  </head>
  <body>
    <h1>Mi Blog</h1>
    <p>Sitio en construcción</p>
  </body>
</html>

<style>
  h1 {
    text-align: center;
    font-size: var(--font-size-xl);
    color: var(--main-color);
  }
  p {
    text-align: center;
    font-weight: bold;
    font-size: var(--font-size-lg);
  }
</style>
